axie-infinity-marketplace-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "axie-infinity-marketplace-adf"
		},
		"AzureKeyVaultLinkedService_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://axieinfinitykv.vault.azure.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Axie_ETL_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractFunction",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"x-functions-key": {
									"value": "@Microsoft.KeyVault(SecretUri=https://axieinfinitykv.vault.azure.net/secrets/ExtractFunctionKey)",
									"type": "Expression"
								}
							},
							"url": "https://axie-etl.azurewebsites.net/api/extract",
							"body": {}
						}
					},
					{
						"name": "SetBlobName",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ExtractFunction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ExtractedBlobName",
							"value": {
								"value": "@activity('ExtractFunction').output.blob_name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "TransformFunction",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetBlobName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"x-functions-key": {
									"value": "@Microsoft.KeyVault(SecretUri=https://axieinfinitykv.vault.azure.net/secrets/TransformFunctionKey)",
									"type": "Expression"
								}
							},
							"url": "https://axie-etl.azurewebsites.net/api/transform",
							"body": {
								"blob_name": "@variables('ExtractedBlobName')"
							}
						}
					},
					{
						"name": "SetFileList",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "TransformFunction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ExtractedFileList",
							"value": {
								"value": "@activity('TransformFunction').output.file_list",
								"type": "Expression"
							}
						}
					},
					{
						"name": "LoadFunction",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"x-functions-key": {
									"value": "@Microsoft.KeyVault(SecretUri=https://axieinfinitykv.vault.azure.net/secrets/LoadFunctionKey)",
									"type": "Expression"
								}
							},
							"url": "https://axie-etl.azurewebsites.net/api/load",
							"body": {
								"file_list": "@variables('ExtractedFileList')"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ExtractedBlobName": {
						"type": "String"
					},
					"ExtractedFileList": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-15T02:22:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultLinkedService_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		}
	]
}